<div class="container text-center col-md-8">
   <form action="/" method="post" class="card p-3 bg-light">
      <h1 class="text text-uppercase text-center text-danger">User Login</h1>
      <div class="form-group mt-3">
         <label class="h3 text-success" for="">Username</label>
         <input class="form-control" type="text" name="username" id="" required>
      </div>
      <div class="form-group mt-3">
         <label class="h3 text-success" for="">Password</label>
         <input class="form-control" type="password" name="password" id="" required>
      </div>
      <div class="form-group mt-3">
         <input class="btn btn-primary" type="submit" value="Login">
         <input class="btn btn-warning" type="reset" value="Clear">
      </div>
   </form>
</div>